@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat";
    /* src: font-url("Montserrat/Montserrat-VariableFont_wght.ttf")
      format("truetype"); */
    src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  }

  ::-webkit-scrollbar {
    @apply bg-bd-gray;
    width: 10px;
  }
  .customScroll::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-bd-main;
  }
}
